$primary: #3a47d5;
$primary_light: lighten($primary, 10%);
$secondary: #00d2ff;

$text_dark: #2d3436;
$text: #636e72;
$text_reverse: #fff;
$background: #fff;

$success: #6ab04c;
$success_light: #badc58;

$error: #d63031;
$error_light: #ff7675;

$disabled: #b2bec3;
$disabled_light: #dfe6e9;

$gradient: linear-gradient(135deg, $secondary 0, $primary 100%);

:export {
  closeIcon: $text_dark;
}
