$primary: #3a47d5;
$primary_light: #00d2ff;

$text: #636e72;
$text_reverse: #fff;
$background: #fff;

$success: #00b894;
$success_light: #55efc4;

$error: #d63031;
$error_light: #ff7675;

$disabled: #b2bec3;
$disabled_light: #dfe6e9;
