@import '../../../styles/colors';

.button {
  position: relative;
  z-index: 1;
  cursor: pointer;

  span {
    position: relative;
    display: block;
    color: $text_reverse;
    font-size: 20px;
    text-transform: uppercase;
  }

  &.primary {
    background: none;

    span {
      padding: 15px 30px;
    }

    &:before, &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 5px;
      transition: all .2s ease-in-out;
      z-index: -1;
    }

    &:before {
      background: $primary;
      background: $gradient;
    }

    &:after {
      border: 1px solid $primary;
    }

    &:hover {
      &:before {
        top: 5px;
        bottom: 5px;
        left: 5px;
        right: 5px;
      }

      &:after {
        top: -5px;
        bottom: -5px;
        left: -5px;
        right: -5px;
      }
    }
  }

  &.secondary {
    border-radius: 5px;
    background: $primary;
    transition: all .2s ease-in-out;

    span {
      padding: 10px 15px;
      font-size: 18px;
    }

    &:hover {
      background: $primary_light;
    }

    &[disabled] {
      background: $disabled_light;
    }
  }

  &.reverse {
    border-radius: 5px;
    padding: 10px 15px;
    background: $background_light;
    transition: all .3s ease-in-out;

    span {
      color: $text_dark;
      font-size: 16px;
    }

    &:hover {
      background: lighten($background_light, 20%);
      color: $text_dark;
    }
  }

  &.outlined,
  &.light {
    background: none;

    span {
      padding: 0;
      background: none;
    }

    &.primary {
      span {
        color: $primary;
      }

      &:hover {
        span {
          color: $primary_light;
        }
      }
    }

    &.secondary {
      span {
        color: $secondary;
      }

      &:hover {
        span {
          color: lighten($secondary, 40%);
        }
      }
    }

    &.reverse {
      span {
        color: $text_reverse;
      }

      &:hover {
        span {
          color: darken($text_reverse, 40%);
        }
      }
    }

    &:before, &:after {
      content: none;
    }
  }

  &.outlined {
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    padding: 5px 15px;

    &.primary {
      border-color: $primary;

      &:hover {
        border-color: $primary_light;
      }
    }

    &.secondary {
      border-color: $secondary;

      &:hover {
        border-color: lighten($secondary, 40%);
      }
    }

    &.reverse {
      border-color: $text_reverse;

      &:hover {
        border-color: darken($text_reverse, 40%);
      }
    }
  }
}